.myMdl{
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.myMdlContent{
    padding: 20px;
    background-color: white;
}

.myMdl.active{
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}