@import './style/bookItem.css';
@import './style/booksList.css';
@import './style/booksForm.css';
@import './style/header.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  margin: 20px auto;
  max-width: 800px;
}

.filters{
  display: flex;
  gap: 20px;
}